/* CSS Document */
html {
	width:100%;
	height: 100%;
	margin: 0;
	padding: 0;	
}
#conash3D0 {display: none!important;}
body, div {
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
}

div#frame {
	background-color:#deabff;
	height: 480px;
	width: 720px;
	padding: 10px;
	text-align:left;
}

div#left {
	width:300px;
	height: 480px;
	float: left;
}

div#right {
	width: 420px;
	height: 480px;
	float: left;
	overflow: auto;
	background: url(./img/rosalia.jpg) bottom right no-repeat #fcf;
}

.royal {padding-top: 60px;}
#left h1 {
	color:#f8389d; 
	font-style:italic;
	margin: 0 5px 5px 5px;
	text-align: center;
}

h2 {
	text-align: center;
	color: #9664ff;
}

.menu a {
	display: block;
	color: #9664ff;
	font-size: 12pt;
	text-decoration: none;
	font-weight: bold;
	padding: 5px 0;
}

.menu a:hover {
	color: #f8389d; 
	text-decoration: underline;
}

body.content {
background-color: #fcf;
padding: 5px;
}

div#left div.name {
	font-size: 54pt; 
	color:#f8389d; 
	font-style:italic; 
	position: absolute; 
	padding-left: 20px; 
	padding-top:70px; 
	background:url(img/royal.gif) bottom right no-repeat; 
	height: 420px;
	width: 385px;
}